<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for Unsplash API and image loading -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to check network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/notemaster"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notemaster"
        tools:targetApi="31">

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <!-- Settings Activity -->
        <activity
            android:name=".MotivationActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Edit Note Activity -->
        <activity
            android:name=".EditNoteActivity"
            android:exported="false" />

        <!-- Image Search Activity -->
        <activity
            android:name=".ImageSearchActivity"
            android:exported="true" />

        <!-- Login Activity (Launcher Activity) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Create Note Activity -->
        <activity
            android:name=".CreateNoteActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>
